html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  line-height: 1.5;
}
header {
  background: #861212;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

/* Domyślnie — zwykła strona */
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #222;
  background: #f9f9f9;
}

/* Strona logowania — centrowanie */
body.login-page {
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

ul {
  text-align: center;
  list-style: none;
  padding-left: 10px;
  margin: 0.3 rem;
}

li:hover {
  font-weight: bold;
}

.login-container {
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  text-align: center;
}

h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h2 {
  color: #333;
  margin-top: 2rem;
  border-bottom: 2px solid #861212;
  padding-bottom: 0.3rem;
}

figure {
  text-align: center;
  margin: 2rem 0;
}

figure img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #555;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  text-align: left;
  font-weight: bold;
}

input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}
