:root {
  font-family: Arial, sans-serif;
  color: #000000;
}

.container {
  padding: 40px 40px;
  background-color: #d0cdcd;
  max-width: 1000px;
  margin: 10px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: min(100%, 1000px);
}

main {
  flex: 1 1 300px;
  order: 2;
  max-width: 300px;
  min-height: 400px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

fieldset {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  --current-input-bg: #2064b8;
  --current-container-border: #2064b8;
  --current-button-color: #2064b8;
  --current-promo-color: #2064b8;
}

body:has(#color-red:checked) {
  --current-container-border: #a51919;
  --current-input-bg: #a51919;
  --current-button-color: #a51919;
  --current-promo-color: #a51919;
}

body:has(#color-blue:checked) {
  --current-container-border: #2064b8;
  --current-input-bg: #2064b8;
  --current-button-color: #2064b8;
  --current-promo-color: #2064b8;
}

body:has(#color-green:checked) {
  --current-container-border: #2f902f;
  --current-input-bg: #2f902f;
  --current-button-color: #2f902f;
  --current-promo-color: #2f902f;
}

body:has(#color-yellow:checked) {
  --current-container-border: #ffd42a;
  --current-input-bg: #ffd42a;
  --current-button-color: #ffd42a;
  --current-promo-color: #ffd42a;
}

.promo {
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--current-promo-color);
  padding: 5px;
  width: 30%;
  text-align: center;
}

main header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

h2 {
  text-align: center;
}

p {
  margin: 0;
  margin-bottom: 20px;
}

.polo-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  align-items: center;
  align-content: stretch;
  flex: 0 0 auto;
  max-width: 300px;
  margin: 0 auto;
}

legend {
  font-weight: bold;
  font-size: larger;
}

#color {
  border: none;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

#color input[type='radio'] {
  display: none;
}

#color label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #1f1f1fd8;
  cursor: pointer;
}

#color-blue + label {
  background-color: #2c5282;
}
#color-red + label {
  background-color: #cc3333;
}
#color-green + label {
  background-color: #449944;
}
#color-yellow + label {
  background-color: #ffcc00;
}

#color input[type='radio']:checked + label {
  border: 3.5px solid #ffffff;
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

#polo-img {
  position: relative;
  flex: 1 1 500px;
  order: 1;
  max-width: 500px;
  aspect-ratio: 1/1;
  border: var(--current-container-border) solid 2px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.polo-img {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 500px;
  aspect-ratio: 1/1;
  object-fit: cover;
  opacity: 0;
}

body:has(#color-red:checked) #img-red {
  opacity: 1;
}

body:has(#color-green:checked) #img-green {
  opacity: 1;
}

body:has(#color-yellow:checked) #img-yellow {
  opacity: 1;
}

#img-blue {
  display: block;
  opacity: 1;
}

body:has(#color-red:checked) #img-red {
  display: block;
  opacity: 1;
}

body:has(#color-green:checked) #img-green {
  display: block;
  opacity: 1;
}

body:has(#color-yellow:checked) #img-yellow {
  display: block;
  opacity: 1;
}

body:has(#color-red:checked) #img-blue,
body:has(#color-green:checked) #img-blue,
body:has(#color-yellow:checked) #img-blue {
  display: none;
  opacity: 0; /*to jest bo niebieski jest większy od żółtego i robił cień XDD*/
}

#size {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}

#size input[type='radio'] {
  display: none;
}

#size label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #e6e6e6;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  color: #000000;
}

#size input[type='radio']:checked + label {
  background-color: var(--current-input-bg);
  color: rgb(255, 255, 255);
}

button {
  display: block;
  width: 90%;
  height: 70px;
  padding: 10px;
  margin-top: 10px;
  background-color: var(--current-button-color);
  color: rgb(255, 255, 255);
  border: rgb(0, 0, 0) solid;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
