body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  max-width: 1600px;
  margin: auto;
  min-height: 100rem;
}

h1 {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 500%;
  background-color: #970000;
  height: 6rem;
}

figure {
  margin: 0;
  padding: 20px;
  color: #ffffff;
  font-style: italic;
  background-color: #970000;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  filter: grayscale(10%);
  cursor: pointer;
}

figure:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.gallery {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: 2fr 2fr;
  }
}
