/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
}

h1 {
  background-color: #970000;
  text-align: center;
  color: antiquewhite;
}

nav {
  text-align: center;
  border: 6px solid #970000;
  border-radius: 8px;
  padding: 10px 60px;
  max-width: fit-content;
  margin: 50px auto;
}
nav ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
ul {
  list-style: none;
}

li:hover {
  font-weight: bold;
}

a {
  color: #1872c6; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}
