/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 20px;
  background: #4d1010;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}

a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.column h2 {
  margin-top: 0;
}

h1 {
  text-align: center;
  color: #fff;
}

#kanban {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.column {
  background: #fff36e;
  padding: 10px;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.column h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  padding: 8px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 6px;
  margin: 8px 0;
}

.card span {
  flex: 1;
  outline: none;
}
button {
  background: #222;
  color: #fff;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}
.card button {
  background: #222;
  color: #fff;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.card button:hover {
  background: #444;
}
